{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
        <div class="col-sm-9 offset-sm-1 text-center">
           <h3><b>Password Reset Successfully</b></h3>
           <img src="https://media1.giphy.com/media/a0h7sAqON67nO/giphy.gif?cid=ecf05e478mviblvhflr5plzyihll8pip7gp1h9474br3bt13&rid=giphy.gif&ct=g" width="300px" height="100px">
           <hr>
        </div>
    </div>
</div>
{% endblock main-content %}